/* Base rules */
body {
  background-color: pink;
  color: black;
  font-family: monospace; 
  /* no fucking idea if I should change it to JetBrains Mono ngl */
}
/* Other rules ("weirdness from hell") */
/* Links */
a {
  color: black;
}
/* Text */
p {
  color: black;
}
/* Headers */
h1 {
  color: black;
}
h3 {
  color: black;
}
h2 {
  color: black;
}
/* lists */
ul {
  color: black;
}
li {
  color: black;
}
/* Status.cafe bullshitery (Something that doesn't work. Please try and find something else) */
#statuscafe {
    padding: .5em;
    background-color: azure;
    border: 1px solid midnightblue;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}
/* JetBrains Mono (no idea how to apply it) */
.jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}